RSS_FEED_URL=https://anchor.fm/s/111198cc0/podcast/rss
PUBLIC_SITE_URL=https://www.dinosaurpodcast.org
SPOTIFY_URL=https://open.spotify.com/show/2vsZ88zSKyKvcfj3Kv0jen
YOUTUBE_URL=https://www.youtube.com/@dinosaurspod
APPLE_URL=https://podcasts.apple.com/us/podcast/dinosaur-stories/id1891084725
AMAZON_URL=https://music.amazon.com/podcasts/e9946c26-fde0-4639-9dac-6bcebbc30c26/dinosaur-stories
X_URL=https://x.com/DinosaurPod